:root {
  --body-bg-color: #061720;
}

html {
  background-color: var(--body-bg-color);
}

li {
  list-style: none;
}

h1,
h2,
h3,
h4,
h5,
p,
span,
a,
label {
  font-family: Arial, Helvetica, sans-serif;
  color: white;
}
